DB_DRIVER=postgres
SERVER_ADDRESS=0.0.0.0:8080
DB_SOURCE=postgresql://postgres:your_password@localhost:5432/simplebank?sslmode=disable
# symmetric key for paseto token maker (length 32)
TOKEN_SYMMETRIC_KEY=12345678123456781234567812345678
ACCESS_TOKEN_DURATION=15m
