DB_DRIVER=postgres
HTTP_SERVER_ADDRESS=0.0.0.0:8080
GRPC_SERVER_ADDRESS=0.0.0.0:9090
# db source for local dev (linux pc)
DB_SOURCE=postgresql://postgres:secret@321.321.321.321:5438/simplebank?sslmode=disable
# symmetric key for paseto token maker
TOKEN_SYMMETRIC_KEY=12345678123456781234567812345678
ACCESS_TOKEN_DURATION=15m
